.ResumePage {
    height                : 100%;
    background-color      : white;
    color                 : #727272;
    padding-top           : 50px;
    font                  : 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;

    iframe {
        width : 100%;
        height: 1865px;
    }

    p,
    ul,
    ol,
    table,
    pre,
    dl {
        margin: 0 0 20px;
    }

    a {
        color          : #267CB9;
        text-decoration: none;
    }

    a:hover {
        font-weight: bold;
    }

    h1 {
        font-size: 28px;
        color    : #222222;
    }

    h2 {
        font-size  : 21px;
        color      : #393939;
        font-weight: 700;
    }

    strong {
        color      : #222;
        font-weight: 700;
    }

    >div {
        width    : 100%;
        margin   : 0 auto;
    }

    .header {
        .title {
            text-align      : start;
            font-weight     : 700;
            font-size       : 28px;
            margin-block-end: 1rem;
        }

        .image {
            max-width       : 100%;
            width           : 100%;
            height          : 270px;
            margin-block-end: 1rem;
        }

        .email {
            color    : #727272;
            font-size: 14px;
        }

        .githubcv {
            margin-top     : 1rem;
            display        : flex;
            justify-content: center;
            column-gap     : 22px;

            a {
                font-size     : 28px;
                line-height   : 1.1;
                vertical-align: middle;
                font-weight   : bold;
            }
        }
    }

    .body {
        text-align    : start;
        padding-left  : 100px;
        padding-bottom: 50px;
    }

}