@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/font/Noto_Sans/NotoSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/font/Noto_Sans/NotoSans-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/font/Noto_Sans/NotoSans-Italic.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/font/Noto_Sans/NotoSans-BoldItalic.ttf') format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rollover {
  49% { transform: translateY(100%); }
  50% { opacity  : 0; transform: translateY(-100%); }
  51% { opacity: 1; }
}

@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes slideLeft {
  from { transform: translateX(100%); opacity: 0; }
}

@keyframes slideRight {
  from { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideUp{
  from { transform: translateY(200%); opacity: 0; }
  to { transform: translateY(0%); opacity: 1; }
}

@keyframes slideDown{
  from { transform: translateY(-200%); opacity: 0; }
  to { transform: translateY(0%); opacity: 1; }
}

.ani-rollover {
  animation: rollover 0.5s forwards;
}

.ani-popIn {
  animation: popIn 0.5s ease-in forwards;
}

.ani-rollover-hover:hover i,
.ani-rollover-hover:hover span {
  animation: rollover 0.5s forwards;
}

.ani-popIn-hover:hover i,
.ani-popIn-hover:hover span {
  animation: popIn 0.5s ease-in forwards;
}

.ani-slideIn-left {
  animation: slideLeft 0.7s forwards;
}

.ani-slideIn-right {
  animation: slideRight 0.7s forwards;
}

.ani-slideIn-up {
  animation: slideUp 0.5s forwards;
}

.ani-slideIn-down {
  animation: slideDown 0.5s forwards;
}
